/***
* Name: Sanne Oud 
* Student number: 11014067
* programming project
*
* This script holds the css for the 
* index html for the programming project.
***/

/* text*/

h1 {
	text-align: right;
}
 
h2 {
	display: inline;
} 

span {
	font: 16px sans-serif;
}

.sliderInfo {
	display: flex;
	align-items: center;
}

/* map */
.state-borders {
	fill: none;
	stroke: white;
	stroke-width: 0.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
}

/* calendar */
.day {
    stroke: #aaa;
}

.month {
    fill: none;
    stroke: #fff;
    stroke-width: 4px;
}

.calendarLegenda {
	font: 16px sans-serif;
}

/* barchart */
.Bar rect {
  fill: gray;
}

.Bar text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
